{{ define "gallery-includes" }}
<link href="/dist/bb.min.css" rel="stylesheet"/>
<script type="text/javascript" src="/dist/bb.min.js"></script>
{{ end }}
{{ define "header" }}{{ partial "page-header.html" . }}{{ end }}
{{ define "main" }}
<div class="flex items-start items-stretch flex-wrap px2 md-px4 pt4">
  <aside class="col-12 md-col-4 px2">
    {{ partial "menu-contextual.html" . }}
  </aside>
  <article class="col-12 md-col-8 bg-white border border-silver">
    <header class="border-bottom border-silver mb4 px2 md-px4 py2">
      <p class="h6 bold caps mb2">
        {{ humanize .Section | upper  }}
      </p>
      <h1 class="f1">
        {{ .Title }}
      </h1>
    </header>
    {{ $banner := .Param "banner" }}
    {{ if $banner }}
    {{/* Trimming the slash and adding absURL make sure the image works no matter where our site lives */}}
    {{ $banner := (trim $banner "/") | absURL }}
    <div class="px2 md-px4" ><img class="fit"  src="{{ $banner }}"/></div>
    {{ end }}
    <div class="px2 md-px4 pb4 pt1">
      <div class="flex items-top mxn1 flex-wrap gallery">
        {{ range $.Param "images" }}
        <div class="px1 col-12 md-col-4">
          <a href="{{.}}" class="block mb2 border border-silver p1">
            <div class="square"><div class="content" style="background-image:url('{{.}}')"></div></div>
          </a>
        </div>
        {{end}}
      </div>
    </div>
  </article>
</div>
<script>
 baguetteBox.run('.gallery');
</script>
{{ end }}
